body{
    background-color: #181818;
}
.NavBar{
    display:flex;
    justify-content: flex-start;
    
}
.vscode-image{
    width :"25px";
    padding: 50px;

}
.Visual-Studio-code-text{
    color: white;
    font-size: 25px;
    padding:5px;
}