body{
    background-color: #181818;
}
.NavBar{
    display:flex;
    justify-content: flex-start;
    
}

.Visual-Studio-code-text{
    color: white;
    font-size: 25px;
    padding:5px;
}

.NavBar-right-side{
    color: white;
    font-size: 20px;
    padding:5px;
}
.NavBar-button{
    background-color: green;
    color:white;
    width: 70px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
